{"swagger":"2.0","host":"jdelamarre.npav.accedian.net","info":{"title":"Gather","description":"Gather API Documentation","version":"1.0.0","contact":{"email":"mpreston@accedian.com"}},"basePath":"/api","schemes":["https"],"consumes":["application/json","application/vnd.api+json"],"produces":["application/json","application/vnd.api+json"],"paths":{"/v1/tenants":{"post":{"summary":"Create a Tenant.","operationId":"CreateTenant","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenant"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"409":{"description":"The Tenant being provisioned already exists","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/JsonApiTenant"}}],"tags":["AdminProvisioningService"]},"put":{"summary":"Update a Tenant.","operationId":"UpdateTenant","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenant"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/JsonApiTenant"}}],"tags":["AdminProvisioningService"]}},"/v1/tenant-list":{"get":{"summary":"Retrieve all Tenants.","operationId":"GetAllTenants","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantList"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"tags":["AdminProvisioningService"]}},"/v1/tenants/{tenantId}":{"get":{"summary":"Retrieve a Tenant by id.","operationId":"GetTenant","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenant"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"}],"tags":["AdminProvisioningService"]},"delete":{"summary":"Delete a Tenant","operationId":"DeleteTenant","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenant"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"}],"tags":["AdminProvisioningService"]},"patch":{"summary":"Patch a Tenant","operationId":"PatchTenant","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenant"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/JsonApiTenant"}}],"tags":["AdminProvisioningService"]}},"/v1/tenant-by-alias/{value}":{"get":{"summary":"Returns the Id of a Tenant that matches the provided alias.","operationId":"GetTenantIdByAlias","produces":["text/plain"],"responses":{"200":{"description":"","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"value","in":"path","required":true,"type":"string"}],"tags":["AdminProvisioningService"]}},"/v1/tenant-summary-by-alias/{value}":{"get":{"summary":"Returns a summary of the Tenant that matches the provided alias.","operationId":"GetTenantSummaryByAlias","produces":["application/json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/TenantSummary"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"value","in":"path","required":true,"type":"string"}],"tags":["AdminProvisioningService"]}},"/v1/ingestion-dictionaries":{"get":{"summary":"Retrieve an Ingestion Dictionary.","operationId":"GetIngestionDictionary","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiIngestionDictionary"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"tags":["AdminProvisioningService"]}},"/v1/valid-types":{"get":{"summary":"Retrieve a Valid Types object.","operationId":"GetValidTypes","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiValidTypes"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"tags":["AdminProvisioningService"]}},"/v1/histogram":{"post":{"summary":"Retrieve a histogram of measurements for given time range and metric/v1/histogramcustom","operationId":"GetHistogram","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/gathergrpcJSONAPIObject"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/HistogramRequestObject"}}],"tags":["MetricsService"]}},"/v1/raw-metrics":{"get":{"summary":"Returns raw metrics from druid","operationId":"GetRawMetrics","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/gathergrpcJSONAPIObject"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"interval","description":"ISO-8601 Intervals.","in":"query","required":false,"type":"string"},{"name":"tenant","in":"query","required":false,"type":"string"},{"name":"direction","in":"query","required":false,"type":"string"},{"name":"metric","in":"query","required":false,"type":"array","items":{"type":"string"}},{"name":"objectType","in":"query","required":false,"type":"string"},{"name":"monitoredObjectId","in":"query","required":false,"type":"array","items":{"type":"string"}},{"name":"timeout","in":"query","required":false,"type":"integer","format":"int32"},{"name":"granularity","in":"query","required":false,"type":"string"}],"tags":["MetricsService"]}},"/v2/raw-metrics":{"post":{"summary":"Returns raw metrics from druid","operationId":"GetFilteredRawMetrics","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/gathergrpcJSONAPIObject"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/FilteredRawMetricsRequestObject"}}],"tags":["MetricsService"]}},"/v1/threshold-crossing":{"post":{"summary":"Retrieve threshold crossings","operationId":"QueryThresholdCrossing","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/MetricResultsResponseObject"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"Threshold profile not found","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/ThresholdCrossingAPIRequestObject"}}],"tags":["MetricsService"]}},"/v1/threshold-crossing-by-monitored-object-top-n":{"post":{"operationId":"GetThresholdCrossingByMonitoredObjectTopN","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/gathergrpcJSONAPIObject"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"Threshold profile not found","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/ThresholdCrossingByMOTopNAPIRequestObject"}}],"tags":["MetricsService"]}},"/v1/aggregated-metrics":{"post":{"summary":"Query metrics and perform aggregations","operationId":"QueryAggregatedMetrics","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/MetricResultsResponseObject"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"Missing provisioned data from request parameters","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/AggregateMetricsAPIRequestObject"}}],"tags":["MetricsService"]}},"/v1/topn-metrics":{"post":{"summary":"Retrieve a Top-N for a given sets of metrics","operationId":"GetTopNForMetric","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/gathergrpcJSONAPIObject"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"Missing proviosned data","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/TopNMetricsAPIRequestObject"}}],"tags":["MetricsService"]}},"/v1/generate-sla-report":{"post":{"summary":"Generate an SLA Report.","operationId":"GenSLAReport","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/gathergrpcJSONAPIObject"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"Components of the request parameters were not in the provisioning database","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/SLAReportRequestObject"}}],"tags":["MetricsService"]}},"/v1/tenants/{tenantId}/connector-configs":{"post":{"summary":"Create a ConnectorConfig for a Tenant.","operationId":"CreateTenantConnectorConfig","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantConnectorConfig"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"409":{"description":"The Tenant being provisioned already exists","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/JsonApiTenantConnectorConfig"}}],"tags":["TenantProvisioningService"]},"put":{"summary":"Update a Tenant ConnectorConfig","operationId":"UpdateTenantConnectorConfig","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantConnectorConfig"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/JsonApiTenantConnectorConfig"}}],"tags":["TenantProvisioningService"]}},"/v1/tenants/{tenantId}/connector-configs/{connectorId}":{"get":{"summary":"Retrieve a Tenant ConnectorConfig by Id.","operationId":"GetTenantConnectorConfig","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantConnectorConfig"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"connectorId","in":"path","required":true,"type":"string"},{"name":"tenantId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningService"]},"delete":{"summary":"Delete a Tenant ConnectorConfig specified by the provided Connector Id.","operationId":"DeleteTenantConnectorConfig","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantConnectorConfig"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"connectorId","in":"path","required":true,"type":"string"},{"name":"tenantId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningService"]}},"/v1/tenants/{tenantId}/connector-config-list":{"get":{"summary":"Retrieve all ConnectorConfigs for the specified Tenant.","operationId":"GetAllTenantConnectorConfigs","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantConnectorConfigList"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"},{"name":"zone","in":"query","required":false,"type":"string"}],"tags":["TenantProvisioningService"]}},"/v1/tenants/{tenantId}/connector-instances":{"post":{"summary":"Create a ConnectorInstance for a Tenant.","operationId":"CreateTenantConnectorInstance","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantConnectorInstance"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/JsonApiTenantConnectorInstance"}}],"tags":["TenantProvisioningService"]},"put":{"summary":"Update a Tenant ConnectorInstance","operationId":"UpdateTenantConnectorInstance","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantConnectorInstance"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/JsonApiTenantConnectorInstance"}}],"tags":["TenantProvisioningService"]}},"/v1/tenants/{tenantId}/connector-instances/{connectorInstanceId}":{"get":{"summary":"Retrieve a Tenant ConnectorInstance by Id.","operationId":"GetTenantConnectorInstance","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantConnectorInstance"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"connectorInstanceId","in":"path","required":true,"type":"string"},{"name":"tenantId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningService"]},"delete":{"summary":"Delete a Tenant ConnectorInstance specified by the provided Connector Instance Id.","operationId":"DeleteTenantConnectorInstance","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantConnectorInstance"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"connectorInstanceId","in":"path","required":true,"type":"string"},{"name":"tenantId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningService"]}},"/v1/tenants/{tenantId}/connector-instance-list":{"get":{"summary":"Retrieve all ConnectorInstances for the specified Tenant.","operationId":"GetAllTenantConnectorInstances","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantConnectorInstanceList"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningService"]}},"/v1/tenants/{tenantId}/domains":{"post":{"summary":"Create a Domain for a Tenant.","operationId":"CreateTenantDomain","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantDomain"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/JsonApiTenantDomain"}}],"tags":["TenantProvisioningService"]}},"/v1/tenants/{tenantId}/report-schedule-configs":{"post":{"summary":"Create a report schedule configuration for a Tenant.","operationId":"CreateReportScheduleConfig","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantReportScheduleConfig"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/JsonApiTenantReportScheduleConfig"}}],"tags":["TenantProvisioningService"]},"put":{"summary":"Update a report schedule configuration for a Tenant.","operationId":"UpdateReportScheduleConfig","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantReportScheduleConfig"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/JsonApiTenantReportScheduleConfig"}}],"tags":["TenantProvisioningService"]}},"/v1/tenants/{tenantId}/report-schedule-configs/{configId}":{"get":{"summary":"Retrieve a report schedule configuration for a Tenant by configuration Id.","operationId":"GetReportScheduleConfig","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantReportScheduleConfig"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"configId","in":"path","required":true,"type":"string"},{"name":"tenantId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningService"]},"delete":{"summary":"Delete a report schedule configuration for a Tenant by configuration Id.","operationId":"DeleteReportScheduleConfig","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantReportScheduleConfig"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"configId","in":"path","required":true,"type":"string"},{"name":"tenantId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningService"]}},"/v1/tenants/{tenantId}/report-schedule-config-list":{"get":{"summary":"Retrieve all report schedule configs for the specified Tenant.","operationId":"GetAllReportScheduleConfig","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantReportScheduleConfigList"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningService"]}},"/v1/tenants/{tenantId}/domain-list":{"get":{"summary":"Retrieve all Domains for the specified Tenant.","operationId":"GetAllTenantDomains","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantDomainList"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningService"]}},"/v1/tenants/{tenantId}/domains/{domainId}":{"get":{"summary":"Retrieve a Tenant Domain by Id.","operationId":"GetTenantDomain","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantDomain"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"domainId","in":"path","required":true,"type":"string"},{"name":"tenantId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningService"]},"put":{"summary":"Update a Tenant Domain","operationId":"UpdateTenantDomain","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantDomain"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"domainId","in":"path","required":true,"type":"string"},{"name":"tenantId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/JsonApiTenantDomain"}}],"tags":["TenantProvisioningService"]},"patch":{"summary":"Patch update a Tenant Domain","operationId":"PatchTenantDomain","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"200":{"description":"Successfully patched tenant domain.","schema":{"$ref":"#/definitions/JsonApiTenantDomain"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"domainId","in":"path","required":true,"type":"string"},{"name":"tenantId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/JsonApiTenantDomain"}}],"tags":["TenantProvisioningService"]},"delete":{"summary":"Delete a Tenant Domain specified by the provided Domain Id.","operationId":"DeleteTenantDomain","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantDomain"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"domainId","in":"path","required":true,"type":"string"},{"name":"tenantId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningService"]}},"/v1/tenants/{tenantId}/ingestion-profiles":{"post":{"summary":"Create an Ingestion Profile for a Tenant.","operationId":"CreateTenantIngestionProfile","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantIngestionProfile"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/JsonApiTenantIngestionProfile"}}],"tags":["TenantProvisioningService"]},"patch":{"summary":"Update a Tenant Ingestion Profile","operationId":"PatchTenantIngestionProfile","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantIngestionProfile"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/JsonApiTenantIngestionProfile"}}],"tags":["TenantProvisioningService"]},"put":{"summary":"Update a Tenant Ingestion Profile","operationId":"UpdateTenantIngestionProfile","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantIngestionProfile"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/JsonApiTenantIngestionProfile"}}],"tags":["TenantProvisioningService"]}},"/v1/tenants/{tenantId}/active-ingestion-profile":{"get":{"summary":"Retrieve the active Ingestion Profile for the specified Tenant.","operationId":"GetActiveTenantIngestionProfile","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantIngestionProfile"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningService"]}},"/v1/tenants/{tenantId}/ingestion-profiles/{ingestionProfileId}":{"get":{"summary":"Retrieve a Tenant Ingestion Profile by id.","operationId":"GetTenantIngestionProfile","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantIngestionProfile"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"ingestionProfileId","in":"path","required":true,"type":"string"},{"name":"tenantId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningService"]},"delete":{"summary":"Delete a Tenant Ingestion Profile specified by the provided Ingestion Profile Id.","operationId":"DeleteTenantIngestionProfile","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantIngestionProfile"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"ingestionProfileId","in":"path","required":true,"type":"string"},{"name":"tenantId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningService"]}},"/v1/tenants/{tenantId}/threshold-profiles":{"post":{"summary":"Create a Threshold Profile for a Tenant.","operationId":"CreateTenantThresholdProfile","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantThresholdProfile"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/JsonApiTenantThresholdProfile"}}],"tags":["TenantProvisioningService"]},"patch":{"summary":"Update a Tenant Threshold Profile","operationId":"PatchTenantThresholdProfile","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantThresholdProfile"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/JsonApiTenantThresholdProfile"}}],"tags":["TenantProvisioningService"]},"put":{"summary":"Update a Tenant Threshold Profile","operationId":"UpdateTenantThresholdProfile","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantThresholdProfile"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/JsonApiTenantMonitoredObject"}}],"tags":["TenantProvisioningService"]}},"/v1/tenants/{tenantId}/threshold-profile-list":{"get":{"summary":"Retrieve all Threshold Profiles for the specified Tenant.","operationId":"GetAllTenantThresholdProfiles","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantThresholdProfileList"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningService"]}},"/v1/tenants/{tenantId}/threshold-profiles/{thrPrfId}":{"get":{"summary":"Retrieve a Tenant Threshold Profile by id.","operationId":"GetTenantThresholdProfile","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantThresholdProfile"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"thrPrfId","in":"path","required":true,"type":"string"},{"name":"tenantId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningService"]},"delete":{"summary":"Delete a Tenant Threshold Profile specified by the provided id.","operationId":"DeleteTenantThresholdProfile","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantThresholdProfile"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"thrPrfId","in":"path","required":true,"type":"string"},{"name":"tenantId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningService"]}},"/v1/tenants/{tenantId}/monitored-objects":{"post":{"summary":"Create a Monitored Object for a Tenant.","operationId":"CreateTenantMonitoredObject","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantMonitoredObject"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/JsonApiTenantMonitoredObject"}}],"tags":["TenantProvisioningService"]},"patch":{"summary":"Patch a Tenant Monitored Object","operationId":"PatchTenantMonitoredObject","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantMonitoredObject"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/JsonApiTenantMonitoredObject"}}],"tags":["TenantProvisioningService"]},"put":{"summary":"Update a Tenant Monitored Object","operationId":"UpdateTenantMonitoredObject","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantMonitoredObject"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/JsonApiTenantMonitoredObject"}}],"tags":["TenantProvisioningService"]}},"/v1/tenants/{tenantId}/monitored-object-list":{"get":{"summary":"Retrieve all Monitored Objects for the specified Tenant.","operationId":"GetAllTenantMonitoredObjects","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantMonitoredObjectList"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningService"]}},"/v1/tenants/{tenantId}/monitored-objects/{monObjId}":{"get":{"summary":"Retrieve a Tenant Monitored Object by id.","operationId":"GetTenantMonitoredObject","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantMonitoredObject"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"monObjId","in":"path","required":true,"type":"string"},{"name":"tenantId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningService"]},"delete":{"summary":"Delete a Tenant Monitored Object specified by the provided id.","operationId":"DeleteTenantMonitoredObject","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantMonitoredObject"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"monObjId","in":"path","required":true,"type":"string"},{"name":"tenantId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningService"]}},"/v1/tenants/{tenantId}/monitored-object-domain-map":{"post":{"summary":"Retrieve a mapping of Monitored Objects that are associated with each Domain.","operationId":"GetDomainToMonitoredObjectMap","produces":["application/json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/MonitoredObjectCountByDomainResponse"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/MonitoredObjectCountByDomainRequest"}}],"tags":["TenantProvisioningService"]}},"/v1/tenants/{tenantId}/bulk/insert/monitored-objects":{"post":{"summary":"Create one or more Monitored Objects in a single API request.","operationId":"BulkInsertMonitoredObject","produces":["application/json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/BulkOperationResponse"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/BulkMonitoredObjectRequest"}}],"tags":["TenantProvisioningService"]},"put":{"summary":"Update one or more Monitored Objects in a single API request.","operationId":"BulkUpdateMonitoredObject","produces":["application/json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/BulkOperationResponse"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/BulkMonitoredObjectRequest"}}],"tags":["TenantProvisioningService"]}},"/v1/tenants/{tenantId}/bulk/upsert/monitored-objects/meta":{"post":{"summary":"Upsert metadata for one or more Monitored Objects in a single API request.","operationId":"BulkUpsertMonitoredObjectMeta","produces":["application/json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/BulkOperationResponse"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request. Please check response payload for error description as multiple errors can be reported back.","schema":{"$ref":"#/definitions/BulkOperationResponse"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/BulkMonitoredObjectMetaRequest"}}],"tags":["TenantProvisioningService"]}},"/v1/tenants/{tenantId}/meta":{"post":{"summary":"Create a Metadata record for a Tenant.","operationId":"CreateTenantMetadata","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantMetadata"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/JsonApiTenantMetadata"}}],"tags":["TenantProvisioningService"]},"patch":{"summary":"Patch a Tenant Metadata record","operationId":"PatchTenantMetadata","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantMetadata"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/JsonApiTenantIngestionProfile"}}],"tags":["TenantProvisioningService"]},"put":{"summary":"Update a Tenant Metadata record","operationId":"UpdateTenantMetadata","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantMetadata"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/JsonApiTenantIngestionProfile"}}],"tags":["TenantProvisioningService"]},"get":{"summary":"Retrieve a Tenant Metadata record","operationId":"GetTenantMetadata","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantMetadata"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningService"]},"delete":{"summary":"Delete a Tenant Metadata record","operationId":"DeleteTenantMetadata","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/JsonApiTenantMetadata"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningService"]}},"/v1/tenants/{tenantId}/reports/{reportID}":{"get":{"summary":"Retrieve a Tenant SLA report by id.","operationId":"GetSLAReport","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/gathergrpcJSONAPIObject"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"reportID","in":"path","required":true,"type":"string"},{"name":"tenantId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningService"]}},"/v1/tenants/{tenantId}/report-list":{"get":{"summary":"Retrieve all SLA reports for the specified Tenant.","operationId":"GetAllSLAReports","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/gathergrpcJSONAPIObjectList"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningService"]}},"/v2/tenants":{"post":{"summary":"Create a Tenant.","operationId":"CreateTenantV2","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"201":{"description":"","schema":{"$ref":"#/definitions/TenantResponse"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"409":{"description":"The Tenant being provisioned already exists","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/TenantCreationRequest"}}],"tags":["AdminProvisioningServiceV2"]},"get":{"summary":"Retrieve all Tenants.","operationId":"GetAllTenantsV2","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/TenantListResponse"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"There are no Tenants provisioned","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"tags":["AdminProvisioningServiceV2"]}},"/v2/tenants/{tenantId}":{"get":{"summary":"Retrieve a Tenant by id.","operationId":"GetTenantV2","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/TenantResponse"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"There requested Tenant is not provisioned","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"}],"tags":["AdminProvisioningServiceV2"]},"delete":{"summary":"Delete a Tenant","operationId":"DeleteTenantV2","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/TenantResponse"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"There requested Tenant is not provisioned","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"}],"tags":["AdminProvisioningServiceV2"]},"patch":{"summary":"Patch a Tenant","operationId":"PatchTenantV2","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/TenantResponse"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"There requested Tenant is not provisioned","schema":{"type":"string"}},"409":{"description":"Incorrect revision provided for the update request","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/TenantUpdateRequest"}}],"tags":["AdminProvisioningServiceV2"]}},"/v2/tenant-by-alias/{value}":{"get":{"summary":"Returns the Id of a Tenant that matches the provided alias.","operationId":"GetTenantIdByAliasV2","produces":["text/plain"],"responses":{"200":{"description":"","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"There requested Tenant is not provisioned","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"value","in":"path","required":true,"type":"string"}],"tags":["AdminProvisioningServiceV2"]}},"/v2/tenant-summary-by-alias/{value}":{"get":{"summary":"Returns a summary of the Tenant that matches the provided alias.","operationId":"GetTenantSummaryByAliasV2","produces":["application/json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/TenantSummaryResponse"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"There requested Tenant is not provisioned","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"value","in":"path","required":true,"type":"string"}],"tags":["AdminProvisioningServiceV2"]}},"/v2/ingestion-dictionaries":{"get":{"summary":"Retrieve an Ingestion Dictionary.","operationId":"GetIngestionDictionaryV2","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/IngestionDictionaryListResponse"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"tags":["AdminProvisioningServiceV2"]}},"/v2/valid-types":{"get":{"summary":"Retrieve a Valid Types object.","operationId":"GetValidTypesV2","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ValidTypesListResponse"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"tags":["AdminProvisioningServiceV2"]}},"/v2/connector-configs":{"post":{"summary":"Create a ConnectorConfig for a Tenant.","operationId":"CreateConnectorConfigV2","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"201":{"description":"","schema":{"$ref":"#/definitions/ConnectorConfigResponse"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"409":{"description":"The Connector being provisioned already exists","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/ConnectorConfigCreateRequest"}}],"tags":["TenantProvisioningServiceV2"]},"get":{"summary":"Retrieve all ConnectorConfigs for the specified Tenant.","operationId":"GetAllConnectorConfigsV2","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ConnectorConfigListResponse"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"No connector configurations are provisioned","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"zone","in":"query","required":false,"type":"string"}],"tags":["TenantProvisioningServiceV2"]}},"/v2/connector-configs/{connectorId}":{"get":{"summary":"Retrieve a Tenant ConnectorConfig by Id.","operationId":"GetConnectorConfigV2","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ConnectorConfigResponse"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"The specified connector configuration is not provisioned","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"connectorId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningServiceV2"]},"patch":{"summary":"Update a Tenant ConnectorConfig specified by the provided Connector Id.","operationId":"UpdateConnectorConfigV2","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ConnectorConfigResponse"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"The specified Connector Configuration is not provisioned","schema":{"type":"string"}},"409":{"description":"Incorrect revision number passed in to the Connector Configuration being updated","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/ConnectorConfigUpdateRequest"}},{"name":"connectorId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningServiceV2"]},"delete":{"summary":"Delete a Tenant ConnectorConfig specified by the provided Connector Id.","operationId":"DeleteConnectorConfigV2","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ConnectorConfigResponse"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"The specified Connector Configuration is not provisioned","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"connectorId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningServiceV2"]}},"/v2/connector-instances":{"post":{"summary":"Create a ConnectorInstance for a Tenant.","operationId":"CreateConnectorInstanceV2","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"201":{"description":"","schema":{"$ref":"#/definitions/ConnectorInstanceResponse"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"409":{"description":"The Connector Instance being provisioned already exists","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/ConnectorInstanceCreateRequest"}}],"tags":["TenantProvisioningServiceV2"]},"get":{"summary":"Retrieve all ConnectorInstances for the specified Tenant.","operationId":"GetAllConnectorInstancesV2","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ConnectorInstanceListResponse"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"No Connector Instances are provisioned","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"tags":["TenantProvisioningServiceV2"]}},"/v2/connector-instances/{connectorInstanceId}":{"get":{"summary":"Retrieve a Tenant ConnectorInstance by Id.","operationId":"GetConnectorInstanceV2","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ConnectorInstanceResponse"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"The requested Connector Instance is not provisioned","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"connectorInstanceId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningServiceV2"]},"patch":{"summary":"Update a ConnectorInstance for a Tenant.","operationId":"UpdateConnectorInstanceV2","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ConnectorInstanceResponse"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"The requested Connector Instance is not provisioned","schema":{"type":"string"}},"409":{"description":"Incorrect revision number passed in to the Connector Instance being updated","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/ConnectorInstanceUpdateRequest"}},{"name":"connectorInstanceId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningServiceV2"]},"delete":{"summary":"Delete a Tenant ConnectorInstance specified by the provided Connector Instance Id.","operationId":"DeleteConnectorInstanceV2","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ConnectorInstanceResponse"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"The requested Connector Instance is not provisioned","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"connectorInstanceId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningServiceV2"]}},"/v2/dashboards":{"post":{"summary":"Create a Dashboard for a Tenant.","operationId":"CreateDashboardV2","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"201":{"description":"","schema":{"$ref":"#/definitions/DashboardResponse"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"409":{"description":"The Dashboard being provisioned already exists","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/DashboardCreateRequest"}}],"tags":["TenantProvisioningServiceV2"]},"get":{"summary":"Retrieve all Dashboards for the specified Tenant.","operationId":"GetAllDashboardsV2","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/DashboardListResponse"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"No Dashboards are provisioned","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"zone","in":"query","required":false,"type":"string"}],"tags":["TenantProvisioningServiceV2"]}},"/v2/dashboards/{dashboardId}":{"get":{"summary":"Retrieve a Tenant Dashboard by Id.","operationId":"GetDashboardV2","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/DashboardResponse"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"The specified Dashboard is not provisioned","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"dashboardId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningServiceV2"]},"patch":{"summary":"Update a Tenant Dashboard specified by the provided Dashboard Id.","operationId":"UpdateDashboardV2","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/DashboardResponse"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"The specified Dashboard is not provisioned","schema":{"type":"string"}},"409":{"description":"Incorrect revision number passed in to the Dashboard being updated","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/DashboardUpdateRequest"}},{"name":"dashboardId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningServiceV2"]},"delete":{"summary":"Delete a Tenant Dashboard specified by the provided Dashboard Id.","operationId":"DeleteDashboardV2","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/DashboardResponse"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"The specified Dashboard is not provisioned","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"dashboardId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningServiceV2"]}},"/v2/cards":{"post":{"summary":"Create a Card for a Tenant.","operationId":"CreateCardV2","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"201":{"description":"","schema":{"$ref":"#/definitions/CardResponse"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"409":{"description":"The Card being provisioned already exists","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/CardCreateRequest"}}],"tags":["TenantProvisioningServiceV2"]},"get":{"summary":"Retrieve all Cards for the specified Tenant.","operationId":"GetAllCardsV2","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/CardListResponse"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"No Cardss are provisioned","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"zone","in":"query","required":false,"type":"string"}],"tags":["TenantProvisioningServiceV2"]}},"/v2/cards/{cardId}":{"get":{"summary":"Retrieve a Tenant Card by Id.","operationId":"GetCardV2","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/CardResponse"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"The specified Cards is not provisioned","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"cardId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningServiceV2"]},"patch":{"summary":"Update a Tenant Card specified by the provided Card Id.","operationId":"UpdateCardV2","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/CardResponse"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"The specified Cards is not provisioned","schema":{"type":"string"}},"409":{"description":"Incorrect revision number passed in to the Cards being updated","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/CardUpdateRequest"}},{"name":"cardId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningServiceV2"]},"delete":{"summary":"Delete a Tenant Card specified by the provided Card Id.","operationId":"DeleteCardV2","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/CardResponse"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"The specified Cards is not provisioned","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"cardId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningServiceV2"]}},"/v2/data-cleaning-profiles":{"post":{"summary":"Provides ability to Create a Tenant Data Cleaning Profile","operationId":"CreateDataCleaningProfile","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"201":{"description":"Profile creation completed successfully","schema":{"$ref":"#/definitions/DataCleaningProfileResponse"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"409":{"description":"There was a conflict when creating the record","schema":{"type":"string"}},"422":{"description":"The provided request did not pass validation","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/DataCleaningProfileCreateRequest"}}],"tags":["TenantProvisioningServiceV2"]},"get":{"summary":"Retrieve all Data Cleaning Profiles for a Tenant.","operationId":"GetDataCleaningProfiles","produces":["application/vnd.api+json"],"responses":{"200":{"description":"Fetch completed successfully","schema":{"$ref":"#/definitions/DataCleaningProfileListResponse"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"Record not found","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"tags":["TenantProvisioningServiceV2"]}},"/v2/data-cleaning-profiles/{profileId}":{"get":{"summary":"Retrieve a Data Cleaning Profiles for a Tenant.","operationId":"GetDataCleaningProfile","produces":["application/vnd.api+json"],"responses":{"200":{"description":"Fetch completed successfully","schema":{"$ref":"#/definitions/DataCleaningProfileResponse"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"No records found","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"profileId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningServiceV2"]},"patch":{"summary":"Provides ability to Update a Tenant Data Cleaning Profile","operationId":"UpdateDataCleaningProfile","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"200":{"description":"Update completed successfully","schema":{"$ref":"#/definitions/DataCleaningProfileResponse"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"No records found","schema":{"type":"string"}},"409":{"description":"There was a conflict when updating the record","schema":{"type":"string"}},"422":{"description":"The provided request did not pass validation","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"profileId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/DataCleaningProfileUpdateRequest"}}],"tags":["TenantProvisioningServiceV2"]},"delete":{"summary":"Delete a Data Cleaning Profile for a Tenant.","operationId":"DeleteDataCleaningProfile","produces":["application/vnd.api+json"],"responses":{"200":{"description":"Deletion completed successfully","schema":{"$ref":"#/definitions/DataCleaningProfileResponse"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"No records found","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"profileId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningServiceV2"]}},"/v2/ingestion-profiles":{"post":{"summary":"Create an Ingestion Profile for a Tenant.","operationId":"CreateIngestionProfileV2","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"201":{"description":"","schema":{"$ref":"#/definitions/IngestionProfileResponse"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"409":{"description":"The ingestion profile already exists","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/IngestionProfileCreateRequest"}}],"tags":["TenantProvisioningServiceV2"]},"get":{"summary":"Get all Tenant Ingestion Profiles","operationId":"GetAllIngestionProfilesV2","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/IngestionProfileListResponse"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"No Ingestion Profile is provisioned","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"tags":["TenantProvisioningServiceV2"]}},"/v2/ingestion-profiles/{ingestionProfileId}":{"get":{"summary":"Retrieve a Tenant Ingestion Profile by id.","operationId":"GetIngestionProfileV2","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/IngestionProfileResponse"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"The specified Ingestion Profile is not provisioned","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"ingestionProfileId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningServiceV2"]},"patch":{"summary":"Update a Tenant Ingestion Profile","operationId":"UpdateIngestionProfileV2","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/IngestionProfileResponse"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"The specified Ingestion Profile is not provisioned","schema":{"type":"string"}},"409":{"description":"Incorrect revision provided for th update request","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"ingestionProfileId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/IngestionProfileUpdateRequest"}}],"tags":["TenantProvisioningServiceV2"]},"delete":{"summary":"Delete a Tenant Ingestion Profile specified by the provided Ingestion Profile Id.","operationId":"DeleteIngestionProfileV2","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/IngestionProfileResponse"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"The specified Ingestion Profile is not provisioned","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"ingestionProfileId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningServiceV2"]}},"/v2/monitored-objects":{"get":{"summary":"Retrieve all Monitored Objects for a Tenant.","operationId":"GetAllMonitoredObjectsV2","produces":["application/vnd.api+json"],"responses":{"200":{"description":"Fetch completed successfully","schema":{"$ref":"#/definitions/MonitoredObjectListResponse"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"No Monitored objects are provisioned","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"start_key","in":"query","type":"string","description":"The name of the Monitored Object from which the result set will begin"},{"name":"limit","in":"query","type":"integer","description":"The maximum number of records to return for a single page"}],"tags":["TenantProvisioningServiceV2"]},"post":{"summary":"Create a Monitored Object for a Tenant.","operationId":"CreateMonitoredObjectV2","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"201":{"description":"","schema":{"$ref":"#/definitions/MonitoredObjectResponse"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"409":{"description":"A Monitored Object with this objectId is already provisioned","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/MonitoredObjectCreateRequest"}}],"tags":["TenantProvisioningServiceV2"]}},"/v2/monitored-objects/id-list":{"post":{"summary":"Retrieve a list of monitored objects based on the provided filter criteria","operationId":"GetFilteredMonitoredObjectListV2","consumes":["application/json"],"produces":["application/vnd.api+json"],"responses":{"200":{"description":"Response list containing all monitored object IDs that match the provided meta filter criteria","schema":{"$ref":"#/definitions/MonitoredObjectFilteredListResponse"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/MonitoredObjectFilteredListRequest"}}],"tags":["TenantProvisioningServiceV2"]}},"/v2/monitored-objects/{monObjId}":{"get":{"summary":"Retrieve a Tenant Monitored Object by id.","operationId":"GetMonitoredObjectV2","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/MonitoredObjectResponse"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"The requested Monitored Object is not provisioned","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"monObjId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningServiceV2"]},"patch":{"summary":"Update a Tenant Monitored Object","operationId":"UpdateMonitoredObjectV2","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/MonitoredObjectResponse"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"The requested Monitored Object is not provisioned","schema":{"type":"string"}},"409":{"description":"Incorrect revision provided for the update request to the Monitored Object","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"monObjId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/MonitoredObjectUpdateRequest"}}],"tags":["TenantProvisioningServiceV2"]},"delete":{"summary":"Delete a Tenant Monitored Object specified by the provided id.","operationId":"DeleteMonitoredObjectV2","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/MonitoredObjectResponse"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"The requested Monitored Object is not provisioned","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"monObjId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningServiceV2"]}},"/v2/bulk/insert/monitored-objects":{"post":{"summary":"Create one or more Monitored Objects in a single API request.","operationId":"BulkInsertMonitoredObjectsV2","produces":["application/json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/BulkOperationResponseV2"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/BulkMonitoredObjectCreateRequest"}}],"tags":["TenantProvisioningServiceV2"]},"put":{"summary":"Update one or more Monitored Objects in a single API request. Note that this is a PUT operation for each Monitored Object. This means that all properties must be explicitly provided","operationId":"BulkUpdateMonitoredObjectsV2","produces":["application/json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/BulkOperationResponseV2"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/BulkMonitoredObjectUpdateRequest"}}],"tags":["TenantProvisioningServiceV2"]}},"/v2/reports/{reportID}":{"get":{"summary":"Retrieve a Tenant SLA report by id.","operationId":"GetSLAReportV2","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/gathergrpcJSONAPIObject"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"The requested Report is not provisioned in Datahub","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"reportID","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningServiceV2"]}},"/v2/reports":{"get":{"summary":"Retrieve all SLA reports for the specified Tenant.","operationId":"GetAllSLAReportsV2","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/gathergrpcJSONAPIObjectList"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"No Reports are provisioned in Datahub","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"tags":["TenantProvisioningServiceV2"]}},"/v2/report-schedule-configs":{"post":{"summary":"Create a report schedule configuration for a Tenant.","operationId":"CreateReportScheduleConfigV2","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"201":{"description":"","schema":{"$ref":"#/definitions/ReportScheduleConfigResponse"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"409":{"description":"The Report Schedule Configuration is already provisioned","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/ReportScheduleConfigCreateRequest"}}],"tags":["TenantProvisioningServiceV2"]},"get":{"summary":"Retrieve all report schedule configs for the specified Tenant.","operationId":"GetAllReportScheduleConfigsV2","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ReportScheduleConfigListResponse"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"No Report Schedule Configurations are provisioned","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"tags":["TenantProvisioningServiceV2"]}},"/v2/report-schedule-configs/{configId}":{"get":{"summary":"Retrieve a report schedule configuration for a Tenant by configuration Id.","operationId":"GetReportScheduleConfigV2","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ReportScheduleConfigResponse"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"The requested Report Schedule Configuration is not provisioned","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"configId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningServiceV2"]},"patch":{"summary":"Update a Report Schedule Configuration for a Tenant.","operationId":"UpdateReportScheduleConfigV2","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ReportScheduleConfigResponse"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"Requested Report Schedule Configuration is not provisioned","schema":{"type":"string"}},"409":{"description":"Incorrect revision provided for this update request","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"configId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/ReportScheduleConfigUpdateRequest"}}],"tags":["TenantProvisioningServiceV2"]},"delete":{"summary":"Delete a report schedule configuration for a Tenant by configuration Id.","operationId":"DeleteReportScheduleConfigV2","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ReportScheduleConfigResponse"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"Requested Report Schedule Configuration is not provisioned","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"configId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningServiceV2"]}},"/v2/threshold-profiles":{"post":{"summary":"Create a Threshold Profile for a Tenant.","operationId":"CreateThresholdProfileV2","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"201":{"description":"","schema":{"$ref":"#/definitions/ThresholdProfileResponse"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"409":{"description":"The record is already provisioned","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/ThresholdProfileCreateRequest"}}],"tags":["TenantProvisioningServiceV2"]},"get":{"summary":"Retrieve all Threshold Profiles for the specified Tenant.","operationId":"GetAllThresholdProfilesV2","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ThresholdProfileListResponse"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"There are no Threshold Profiles provisioned","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"tags":["TenantProvisioningServiceV2"]}},"/v2/threshold-profiles/{thrPrfId}":{"get":{"summary":"Retrieve a Tenant Threshold Profile by id.","operationId":"GetThresholdProfileV2","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ThresholdProfileResponse"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"The requested Threshold Profile is not provisioned","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"thrPrfId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningServiceV2"]},"patch":{"summary":"Update a Tenant Threshold Profile","operationId":"UpdateThresholdProfileV2","consumes":["application/vnd.api+json"],"produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ThresholdProfileResponse"}},"400":{"description":"Request data does not pass validation","schema":{"type":"string"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"The requested Threshold Profile is not provisioned","schema":{"type":"string"}},"409":{"description":"Incorrect revision provided in Threshold Profile update request","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"thrPrfId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/ThresholdProfileUpdateRequest"}}],"tags":["TenantProvisioningServiceV2"]},"delete":{"summary":"Delete a Tenant Threshold Profile specified by the provided id.","operationId":"DeleteThresholdProfileV2","produces":["application/vnd.api+json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ThresholdProfileResponse"}},"403":{"description":"Requestor does not have authorization to perform this action","schema":{"type":"string"}},"404":{"description":"The requested Threshold Profile is not provisioned","schema":{"type":"string"}},"500":{"description":"Unexpected error processing request","schema":{"type":"string"}}},"parameters":[{"name":"thrPrfId","in":"path","required":true,"type":"string"}],"tags":["TenantProvisioningServiceV2"]}}},"definitions":{"JsonApiTenant":{"type":"object","properties":{"data":{"$ref":"#/definitions/Tenant"}}},"JsonApiTenantList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/Tenant"}}}},"JsonApiIngestionDictionary":{"type":"object","properties":{"data":{"type":"object","properties":{"type":{"type":"string","enum":["ingestionDictionaries"]},"id":{"type":"string"},"attributes":{"type":"object","properties":{"_id":{"type":"string"},"_rev":{"type":"string"},"datatype":{"type":"string"},"createdTimestamp":{"type":"integer"},"lastModifiedTimestamp":{"type":"integer"},"metrics":{"type":"object","additionalProperties":{"type":"object","properties":{"ui":{"type":"object","properties":{"metricGroups":{"type":"array","items":{"type":"string"}}}},"metricMap":{"type":"object","additionalProperties":{"type":"object","properties":{"monitoredObjectTypes":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string"},"rawMetricId":{"type":"string"},"units":{"type":"array","items":{"type":"string"}},"directions":{"type":"array","items":{"type":"string"}}}}},"ui":{"type":"object","properties":{"group":{"type":"string"},"position":{"type":"string"}}}}}}}}}}}}}}},"TenantSummary":{"type":"object","properties":{"id":{"type":"string"},"alias":{"type":"string"}}},"JsonApiValidTypes":{"type":"object","properties":{"data":{"$ref":"#/definitions/ValidTypes"}}},"ValidTypes":{"type":"object","properties":{"type":{"type":"string","enum":["validTypes"]},"id":{"type":"string"},"attributes":{"$ref":"#/definitions/ValidTypesAttr"}}},"ValidTypesAttr":{"type":"object","properties":{"_id":{"type":"string"},"_rev":{"type":"string"},"datatype":{"type":"string"},"monitoredObjectTypes":{"type":"object","additionalProperties":{"type":"string"}},"monitoredObjectDeviceTypes":{"type":"object","additionalProperties":{"type":"string"}},"createdTimestamp":{"type":"integer"},"lastModifiedTimestamp":{"type":"integer"}}},"JsonApiRelationship":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/JsonApiRelationshipData"}}}},"JsonApiSingleRelationship":{"type":"object","properties":{"data":{"$ref":"#/definitions/JsonApiRelationshipData"}}},"JsonApiRelationshipData":{"type":"object","properties":{"type":{"type":"string"},"id":{"type":"string"}}},"JsonApiTenantConnectorConfig":{"type":"object","properties":{"data":{"$ref":"#/definitions/TenantConnectorConfig"}}},"JsonApiTenantConnectorInstance":{"type":"object","properties":{"data":{"$ref":"#/definitions/TenantConnectorInstance"}}},"JsonApiTenantConnectorConfigList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/TenantConnectorConfig"}}}},"JsonApiTenantConnectorInstanceList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/TenantConnectorInstance"}}}},"TenantConnectorConfig":{"type":"object","properties":{"type":{"type":"string","enum":["connectorConfigs"]},"id":{"type":"string"},"attributes":{"$ref":"#/definitions/TenantConnectorConfigAttr"}}},"TenantConnectorConfigAttr":{"type":"object","properties":{"_id":{"type":"string"},"_rev":{"type":"string"},"datatype":{"type":"string"},"tenantId":{"type":"string"},"name":{"type":"string"},"url":{"type":"string"},"port":{"type":"integer"},"pollingFrequency":{"type":"integer"},"username":{"type":"string"},"password":{"type":"string"},"exportGroup":{"type":"string"},"datahubHeartbeatFrequency":{"type":"integer"},"datahubConnectionRetryFrequency":{"type":"integer"},"type":{"type":"string"},"createdTimestamp":{"type":"integer"},"lastModifiedTimestamp":{"type":"integer"}}},"TenantConnectorInstance":{"type":"object","properties":{"type":{"type":"string","enum":["connectorInstances"]},"id":{"type":"string"},"attributes":{"$ref":"#/definitions/TenantConnectorInstanceAttr"}}},"TenantConnectorInstanceAttr":{"type":"object","properties":{"_id":{"type":"string"},"_rev":{"type":"string"},"datatype":{"type":"string"},"tenantId":{"type":"string"},"status":{"type":"string"},"hostname":{"type":"string"},"createdTimestamp":{"type":"integer"},"lastModifiedTimestamp":{"type":"integer"}}},"JsonApiTenantDomain":{"type":"object","properties":{"data":{"$ref":"#/definitions/TenantDomain"}}},"JsonApiTenantDomainList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/TenantDomain"}}}},"TenantDomain":{"type":"object","properties":{"type":{"type":"string","enum":["domains"]},"id":{"type":"string"},"attributes":{"$ref":"#/definitions/TenantDomainAttr"}}},"TenantDomainAttr":{"type":"object","properties":{"_id":{"type":"string"},"_rev":{"type":"string"},"datatype":{"type":"string"},"tenantId":{"type":"string"},"name":{"type":"string"},"color":{"type":"string"},"createdTimestamp":{"type":"integer"},"lastModifiedTimestamp":{"type":"integer"}}},"JsonApiTenantMonitoredObject":{"type":"object","properties":{"data":{"$ref":"#/definitions/TenantMonitoredObject"}}},"JsonApiTenantMonitoredObjectList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/TenantMonitoredObject"}}}},"TenantMonitoredObject":{"type":"object","properties":{"type":{"type":"string","enum":["monitoredObjects"]},"id":{"type":"string"},"attributes":{"$ref":"#/definitions/TenantMonitoredObjectAttr"},"relationships":{"$ref":"#/definitions/TenantMonitoredObjectRelationships"}}},"TenantMonitoredObjectAttr":{"type":"object","properties":{"_id":{"type":"string"},"_rev":{"type":"string"},"datatype":{"type":"string"},"tenantId":{"type":"string"},"objectId":{"type":"string"},"actuatorName":{"type":"string"},"actuatorType":{"type":"string","enum":["unknown","accedian-nid","accedian-vnid"]},"reflectorName":{"type":"string"},"reflectorType":{"type":"string","enum":["unknown","accedian-nid","accedian-vnid"]},"objectName":{"type":"string"},"objectType":{"type":"string","enum":["unknown","flowmeter","twamp-pe","twamp-sf","twamp-sl"]},"meta":{"type":"object","additionalProperties":{"type":"string"}},"createdTimestamp":{"type":"integer"},"lastModifiedTimestamp":{"type":"i
[...]
