swagger: "2.0"
host: api.analytics.accedian.io
info:
  title: Skylight Analytics API documentation
  version: 2021.01.0
  contact:
    email: the.team@accedian.com 
  description: |
    Here is Skylight Analytics's API documentation.
    # Introduction
    This API is documented in **Open API format v2**. You can download the full API spec above, and use it with
    compatible code generators to generate the client stubs.
    # Quick setup
    (Almost) every endpoint require a [valid user authentication](/#tag/AuthService), so this is probably where you should start.
    Depending on the access rights associated with your account, some endpoints may not be authorized. When such restriction exists,
    the API documentation will outline which acess rights are required to access or modify a given resource.
    ## Authenticate to obtain an Authorized Token
    You must optain an `Authorization Bearer` (for subsequent API calls) or a set-cookie, for browser related calls. Both 
    of these can be obtained by the [auth/login](/#tag/AuthService) endpoint.
    ```bash
    curl -X POST \
       https://tenant-url.npav.accedian.net/api/v1/auth/login \
       -H 'Cache-Control: no-cache' \
       -H 'Content-Type: application/x-www-form-urlencoded' \
       -d 'username=tenantUsername&password=tenantUserPassword'
    ```
    > Pro-tip: Replace "tenant-url" by your tenant name
    The response will contained an authorized header and a set-cookie header
    ```bash
    HTTP/2 200
    content-type: application/vnd.api+json
    content-length: 208
    authorization: Bearer MTUzNTAyNDg[...]
    set-cookie: skylight-aaa=MTUzNTAyNDg[...]
    {
      "data": {
        "attributes":{
          "emailAddress":"tenantUsername",
          "isPasswordSet":true,
          "isRegisteredForEmail":false,
          "name":"tenantName",
          "roles":["tenant-role"],
          "tenants":["tenantName"]},
          "id":"1",
          "type":"users"
          }
    }
    ```
    ## Making an authorized API request - (RAW metrics API query)
    Once you have optained an `Authorization bearer` token, you can make a query to retrieve [RAW metrics](/#operation/GetRawMetrics). 
    ```bash
    curl -X POST https://accedian-dh2.npav.accedian.net/api/v2/raw-metrics \
      -d "\
        {'tenantId':'tenant12345',\
         'interval':'2018-08-08T11%3A12%3A53-04%3A00%2F2018-08-09T11%3A12%3A53-04%3A00',\
         'granularity':'PT78.545S',\
         'meta':{'colors':['orange']},\
         'timeout':30000,\
         'metrics':['jitterP95'],\
         'directions':['0','1','2'],\
         'objectType':'twamp-sf'\
        }" -H 'Cache-Control: no-cache' -H 'Authorization:  MTUzNTAyNDg[...]'
    ``` 
    
basePath: /api

schemes:
  - https
consumes:
  - application/json
  - application/vnd.api+json
produces:
  - application/json
  - application/vnd.api+json


paths:

##### SKYLIGHT-AAA PATHS ######
  /oidc-redirect:
    get:
      parameters:
        - name: clientName
          in: query
          required: true
          type: string
          description: "The name of the OP we'll be delegating auth to"
      responses:
        '200':
          description: "Returns the Service Ticket value"
          schema:
            type: string
        '302':
          description: "Redirects"
          headers:
            Location:
              type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string

  /callback:
    get:
      operationId: callback
      parameters:
        - name: state
          in: query
          type: string
        - name: code
          in: query
          type: string
      responses:
        '200':
          description: "Returns the Authenticated User"
          schema:
            $ref: '#/definitions/JsonApiAAAUser'
        '302':
          description: "Redirects to login page"
          headers:
            Location:
              type: string
        '403':
          description: "Requestor does not have permission to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string

  /openid-configuration/{clientName}:
    get:
      operationId: OpenIDConfiguration
      responses:
        '200':
          description: "Returns the proxy configuration for the external OP"
          schema:
            $ref: '#/definitions/OIDConfig'
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: clientName
          in: path
          required: true
          type: string
          description: "The name of the openID provider we're trying to access"

  /openid-token/{clientName}:
    post:
      operationId: OpenIDToken
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      responses:
        '200':
          description: "Returns the oidc token"
          headers:
            Content-Type:
              type: string
              default: "application/json"
          schema:
            $ref: '#/definitions/OIDToken'
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: grant_type
          in: formData
          required: true
          default: "authorization_code"
          type: string
          enum:
            - "authorization_code"
        - name: code
          in: formData
          required: true
          type: string
        - name: client_id
          in: formData
          required: true
          type: string
        - name: client_secret
          in: formData
          required: true
          type: string
        - name: clientName
          in: path
          required: true
          type: string
          description: "The name of the openID provider we're trying to access"


  /openid-auth:
    get:
      operationId: OpenIDAuth
      responses:
        '302':
          description: "Redirects"
          headers:
            Location:
              type: string
      parameters:
        - name: client_id
          in: query
          description: Our client ID which is registered in the OP
          required: true
          type: string
        - name: redirect_uri
          in: query
          description: URI of where the OP will redirect upon successful authentication
          required: true
          type: string
        - name: response_type
          in: query
          description: What we are requesting from the OP
          required: true
          type: string
          default: "code"
        - name: state
          in: query
          description: Value that has to match between OIDC requests
          required: true
          type: string
        - name: delegatedclientid
          in: query
          type: string
        - name: scope
          in: query
          description: scope of the OIDC request
          required: true
          type: string
          default: "openid"


  /v1/grant:
    post:
      summary: Create a Granting Ticket used to obtain Service Tickets
      operationId: CreateGrantingTicket
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - text/plain
      responses:
        '201':
          description: "Returns the Granting Ticket URL"
          schema:
            type: string
        '401':
          description: "Unauthorized access attempt"
          schema:
            type: string
        '404':
          description: "User not found"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: username
          in: formData
          description: Unique identifier of the User requesting access
          required: true
          type: string
        - name: password
          in: formData
          description: Password for the username of the User requesting access
          required: true
          type: string
        - name: service
          in: formData
          description: URL of the granting service.
          required: true
          type: string
          default: "https://cas.local/aastubs/"
          enum:
            - "https://cas.local/aastubs/"
      tags:
        - TicketService
  /v1/service:
    post:
      summary: Obtain a Service Ticket used to access a particular resource
      operationId: CreateServiceTicket
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - text/plain
      responses:
        '200':
          description: "Returns the Service Ticket value"
          schema:
            type: string
        '404':
          description: "The Granting ticket was not found/is no longer valid"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: grantingTicket
          in: formData
          description: The URL Granting ticket used to obtain the Service Ticket
          required: true
          type: string
        - name: service
          in: formData
          description: URL of the granting service.
          required: true
          type: string
          default: "https://cas.local/aastubs/"
          enum:
            - "https://cas.local/aastubs/"
      tags:
        - TicketService
  /v1/validate:
    post:
      summary: Validate a Service Ticket used to access a particular resource
      operationId: ValidateServiceTicket
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      responses:
        '200':
          description: "Returns the result of the Service Ticket validation"
          schema:
            $ref: '#/definitions/ValidationResponse'
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: ticket
          in: query
          description: The Service Ticket to be validated.
          required: true
          type: string
        - name: service
          in: query
          description: URL of the granting service.
          required: true
          type: string
          default: "https://cas.local/aastubs/"
          enum:
            - "https://cas.local/aastubs/"
        - name: format
          in: query
          description: The format of the validation response body.
          required: true
          type: string
          default: "JSON"
          enum:
            - "JSON"
      tags:
        - TicketService
  /v1/auth/users:
    post:
      summary: Create a new User in Skylight AAA
      operationId: CreateUser
      consumes:
        - application/vnd.api+json
      produces:
        - application/vnd.api+json
      responses:
        '201':
          description: "User was successfully created in Skylight AAA"
          schema:
            $ref: '#/definitions/JsonApiAAAUser'
        '400':
          description: "Bad request"
          schema:
            type: string
        '404':
          description: "Tenat, user group or role not found"
          schema:
            type: string
        '403':
          description: "Requestor does not have permission to perform this action"
          schema:
            type: string
        '409':
          description: "Attempt to provision a User that is already provisioned"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/JsonApiAAAUser'
      tags:
        - AuthService
    get:
      summary: Retrieve a list of Users known to Skylight AAA
      operationId: GetAllUsers
      consumes:
        - application/json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: "Returns a list of known Users to Skylight AAA"
          schema:
            $ref: '#/definitions/JsonApiAAAUserList'
        '403':
          description: "Requestor does not have permission to perform this action"
          schema:
            type: string
        '404':
          description: "No Users provisioned"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      tags:
        - AuthService
  /v1/auth/users/{userId}:
    put:
      summary: Update an existing User in Skylight AAA. Does not update User email or Password.
      operationId: UpdateUser
      consumes:
        - application/vnd.api+json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: "User was successfully updated in Skylight AAA"
          schema:
            $ref: '#/definitions/JsonApiAAAUser'
        '403':
          description: "Requestor does not have permission to perform this action"
          schema:
            type: string
        '404':
          description: "Attempt to update user but the user does not exist"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/JsonApiAAAUser'
        - name: userId
          in: path
          required: true
          type: integer
          format: int64
          description: "The unique identifier of the User to be updated."
      tags:
        - AuthService
    patch:
      summary: Update properties of an existing User in Skylight AAA. Does not update User email or Password.
      operationId: UpdateUserProperties
      consumes:
        - application/vnd.api+json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: "User was successfully updated in Skylight AAA"
          schema:
            $ref: '#/definitions/JsonApiAAAUser'
        '400':
          description: "Attempt to update user but there is something wrong with the request data"
          schema:
            type: string
        '403':
          description: "Requestor does not have permission to perform this action"
          schema:
            type: string
        '404':
          description: "Attempt to update user but the user does not exist"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/JsonApiAAAUser'
        - name: userId
          in: path
          required: true
          type: integer
          format: int64
          description: "The unique identifier of the User to be updated."
      tags:
        - AuthService
    get:
      summary: Retrieve a single User by its known Id.
      operationId: GetUser
      consumes:
        - application/json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: "Returns a known User to Skylight AAA"
          schema:
            $ref: '#/definitions/JsonApiAAAUser'
        '403':
          description: "Requestor does not have permission to perform this action"
          schema:
            type: string
        '404':
          description: "User not found"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: userId
          in: path
          required: true
          type: integer
          format: int64
          description: "The unique identifier of the User to be returned."
      tags:
        - AuthService
    delete:
      summary: Delete a single User by its known Id.
      operationId: DeleteUser
      consumes:
        - application/json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: "Returns the now deleted User from Skylight AAA"
          schema:
            $ref: '#/definitions/JsonApiAAAUser'
        '403':
          description: "Requestor does not have permission to perform this action"
          schema:
            type: string
        '404':
          description: "User not found"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: userId
          in: path
          required: true
          type: integer
          format: int64
          description: "The unique identifier of the User to be deleted."
      tags:
        - AuthService
  /v1/auth/users/{userId}/password:
    patch:
      summary: Reset a pasword for a User provisioned in Skylight AAA.
      operationId: ResetPassword
      consumes:
        - application/json
      produces:
        - text/plain
      responses:
        '200':
          description: "Returns the onboarding URL for the user"
          schema:
            type: "string"
        '403':
          description: "Requestor does not have permission to perform this action"
          schema:
            type: string
        '404':
          description: "User not found"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: userId
          in: path
          required: true
          type: integer
          format: int64
          description: "The unique identifier of the User to reset the password."
      tags:
        - AuthService
  /v1/auth/users/{userId}/email:
    patch:
      summary: Change the email address of a User provisioned in Skylight AAA.
      operationId: ChangeEmailAddress
      consumes:
        - application/json
      produces:
        - text/plain
      responses:
        '200':
          description: "The email address of the user has been changed"
          schema:
            type: "string"
        '403':
          description: "Requestor does not have permission to perform this action"
          schema:
            type: string
        '404':
          description: "User not found"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: userId
          in: path
          required: true
          type: integer
          format: int64
          description: "The unique identifier of the User which is changing email address"
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/EmailChangeRequest'
      tags:
        - AuthService
  /v1/auth/me:
    patch:
      summary: Update properties of the currently authenticated User in Skylight AAA. Does not update User email or Password.
      operationId: UpdateAuthenticatedUserProperties
      consumes:
        - application/vnd.api+json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: "User was successfully updated in Skylight AAA"
          schema:
            $ref: '#/definitions/JsonApiAAAUser'
        '400':
          description: "Attempt to update user but there is something wrong with the request data"
          schema:
            type: string
        '401':
          description: "Attempt to update user but there is something wrong with the authentication parameters"
          schema:
            type: string
        '403':
          description: "Attempt to update user but operation is not allowed on resource"
          schema:
            type: string
        '404':
          description: "Attempt to update user but the user does not exist"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/JsonApiAAAUser'
      tags:
        - AuthService
    get:
      summary: Retrieve the currently Authenticated User.
      operationId: GetAuthenticatedUser
      consumes:
        - application/json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: "Returns the currently Authenticated User"
          schema:
            $ref: '#/definitions/JsonApiAAAUser'
        '401':
          description: "Attempt to fetch a user but there is something wrong with the authentication parameters"
          schema:
            type: string
        '404':
          description: "User not found"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      tags:
        - AuthService
    delete:
      summary: Delete the currently Authenticated User.
      operationId: DeleteAuthenticatedUser
      consumes:
        - application/json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: "Returns the now deleted User from Skylight AAA"
          schema:
            $ref: '#/definitions/JsonApiAAAUser'
        '401':
          description: "Attempt to delete a user but there is something wrong with the authentication parameters"
          schema:
            type: string
        '404':
          description: "User not found"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      tags:
        - AuthService
  /v1/auth/me/password:
    patch:
      summary: Updates the password of the currently Authenticated User.
      operationId: UpdateAuthenticatedUserPassword
      consumes:
        - application/json
      produces:
        - text/plain
      responses:
        '200':
          description: "Password was successfully updated"
          schema:
            type: string
        '400':
          description: "Attempt to update user but there is something wrong with the request data"
          schema:
            type: string
        '401':
          description: "Attempt to update user password but there is an error evaluating the authentication token"
          schema:
            type: string
        '404':
          description: "Attempt to update user but the user does not exist"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PasswordChangeRequest'
      tags:
        - AuthService
  /v1/auth/me/email:
    patch:
      summary: Change the email address of the currently Authenticated User.
      operationId: ChangeAuthenticatedUserEmailAddress
      consumes:
        - application/json
      produces:
        - text/plain
      responses:
        '200':
          description: "The email address of the Authenticated User has been changed"
          schema:
            type: "string"
        '400':
          description: "Attempt to update user email address but there is something wrong with the request data"
          schema:
            type: string
        '401':
          description: "Attempt to update user email address but there is an error evaluating the authentication token"
          schema:
            type: string
        '404':
          description: "User not found"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/EmailChangeRequest'
      tags:
        - AuthService
  /v1/onboarding/{onboardingToken}:
    get:
      summary: Retrieve the User mapped to the onboarding token.
      operationId: GetUserByToken
      consumes:
        - application/json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: "Returns the User mapped to the onboarding token"
          schema:
            $ref: '#/definitions/JsonApiAAAUser'
        '404':
          description: "User not found"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: onboardingToken
          in: path
          required: true
          type: string
          description: "The one-time use token provided to access the password set operation"
      tags:
        - AuthService
  /v1/onboarding/password:
    post:
      summary: Sets the password of a User that has had their password reset.
      operationId: SetUserPassword
      consumes:
        - application/json
      produces:
        - text/plain
      responses:
        '200':
          description: "The password has been set"
          schema:
            type: string
        '400':
          description: "Attempt to update password, but the request has bad data"
          schema:
            type: string
        '404':
          description: "Attempt to update password, but the user no longer exists"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SetPasswordRequest'
      tags:
        - AuthService
  /v1/auth/login:
    post:
      summary: Login a Skylight User
      operationId: Login
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: "Returns the Authenticated User"
          schema:
            $ref: '#/definitions/JsonApiAAAUser'
        '401':
          description: "Unauthorized access attempt"
          schema:
            type: string
        '404':
          description: "User not found"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: username
          in: formData
          description: Unique identifier of the User requesting access
          type: string
        - name: password
          in: formData
          description: Password for the username of the User requesting access
          type: string
        - name: token
          in: formData
          description: Signed JWT issues by Accedian. Can be used instead of username/password
          type: string
      tags:
        - AuthService
  /v1/auth/logout:
    post:
      summary: Logout a Skylight User
      operationId: Logout
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: "Successfully logged out a Skylight User"
          schema:
            type: string
        '404':
          description: "Session not found"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      tags:
        - AuthService
  /v1/auth/session:
    get:
      summary: Validate an active Skylight Session and return User data
      operationId: Validate
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: "Returns the Authenticated User"
          schema:
            $ref: '#/definitions/JsonApiAAAUser'
        '401':
          description: "Session not Authorized"
          schema:
            type: string
        '403':
          description: "Session not Valid"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      tags:
        - AuthService
  /v1/auth/validate:
    get:
      summary: Validate an active Skylight Session. Sets headers for proxy requests to have access to user data.
      operationId: ValidateSessionForProxy
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - text/plain
      responses:
        '200':
          description: "Sets Headers X-Forwarded-User-Id, X-Forwarded-User-Username, X-Forwarded-Usergroups, and X-Forwarded-User-Roles which contain the Id, Username, and Role respectively of the User for the valid session"
          schema:
            type: string
          headers:
            X-Forwarded-User-Id:
              type: string
              description: Unique identifier of the User in Skylight AAA.
            X-Forwarded-User-Username:
              type: string
              description: The Username of the User in Skylight-AAA.
            X-Forwarded-User-Roles:
              type: string
              description: The Roles associated with this User in Skylight-AAA.
            X-Forwarded-Usergroups:
              type: string
              description: The Usergroups associated with this User in Skylight-AAA.
            X-Forwarded-Tenant-Id:
              type: string
              description: The TenantId associated with this request in Skylight-AAA.
            X-Forwarded-JWT:
              type: string
              description: The JWT associated with the user session
        '401':
          description: "Session not Authorized"
          schema:
            type: string
        '403':
          description: "Session not Valid"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      tags:
        - AuthService
  /v1/auth/service:
    post:
      summary: Create a new Service in Skylight AAA. This function is only available to Skylight Admin users.
      operationId: CreateService
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - text/plain
      responses:
        '201':
          description: "Service was successfully created in Skylight AAA"
          schema:
            type: string
        '401':
          description: "User creating the Service is not Authorized to do so"
          schema:
            type: string
        '403':
          description: "User does not have authorization to perform this operation"
          schema:
            type: string
        '409':
          description: "Attempt to provision a Service that is already provisioned"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: serviceName
          in: formData
          description: Unique identifier of the Service to be added
          required: true
          type: string
        - name: username
          in: formData
          description: Username
          required: true
          type: string
        - name: password
          in: formData
          description: Password
          required: true
          type: string
      tags:
        - AuthService
  /v1/onboarding/tenant-info:
    get:
      summary: Retrieves the generic identifyiong information for a customer.
      operationId: GetTenantInfo
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: "Successfully retrieved tenant info"
          schema:
            $ref: '#/definitions/JsonApiTenantInfo'
        '404':
          description: "No branding found for this tenant"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      tags:
        - AuthService
  /v1/onboarding/tenant-identity:
    put:
      summary: Adds tenant identifying information which is retreived in the 'onboarding/tenant-info' call. Operation is only available to Skylight Administrators.
      operationId: SetTenantIdentity
      consumes:
        - application/vnd.api+json
      produces:
        - application/vnd.api+json
      responses:
        '201':
          description: "Successfully updated tenant identifying information"
          schema:
            $ref: '#/definitions/JsonApiTenantInfo'
        '400':
          description: "The request data is not in the proper format"
          schema:
            type: string
        '401':
          description: "User is not authorized to perform this operation"
          schema:
            type: string
        '403':
          description: "Requestor does not have permission to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/JsonApiTenantInfo'
      tags:
        - AuthService
  /v1/onboarding/tenant-identity/{subdomain}:
    delete:
      summary: Deletes tenant identifying information. Operation is only available to Skylight Administrators.
      operationId: DeleteTenantIdentity
      consumes:
        - text/plain
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: "Successfully deleted tenant identifying information"
          schema:
            $ref: '#/definitions/JsonApiTenantInfo'
        '400':
          description: "The request data is not in the proper format"
          schema:
            type: string
        '401':
          description: "User is not authorized to perform this operation"
          schema:
            type: string
        '403':
          description: "Requestor does not have permission to perform this action"
          schema:
            type: string
        '404':
          description: "Tenant identity record not found"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: subdomain
          in: path
          description: Unique identifier of the Subdomain to delete the tenant mapping
          required: true
          type: string
      tags:
        - AuthService

  /v1/auth/tokens:
    post:
      summary: Create a new web token for authentication/authorization
      operationId: CreateToken
      consumes:
        - application/vnd.api+json
      produces:
        - text/plain
      responses:
        '201':
          description: "Token was successfully created in Skylight AAA"
          schema:
            type: string
        '403':
          description: "Requestor does not have permission to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/JsonApiJWT'
      tags:
        - AuthService
    get:
      summary: Retrieve a list of Tokens known to Skylight AAA
      operationId: GetAllTokens
      consumes:
        - application/vnd.api+json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: "Returns a list of tokens known to Skylight AAA"
          schema:
            $ref: '#/definitions/JsonApiJWTList'
        '403':
          description: "Requestor does not have permission to perform this action"
          schema:
            type: string
        '404':
          description: "No Tokens provisioned"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      tags:
        - AuthService
  /v1/auth/tokens/{tokenId}:
    get:
      summary: Retrieve a single Token by its known Id.
      operationId: GetToken
      consumes:
        - application/vnd.api+json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: "Returns a known Token to Skylight AAA"
          schema:
            $ref: '#/definitions/JsonApiJWT'
        '403':
          description: "Requestor does not have permission to perform this action"
          schema:
            type: string
        '404':
          description: "Token not found"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: tokenId
          in: path
          required: true
          type: integer
          format: int64
          description: "The unique identifier of the Token to be returned."
      tags:
        - AuthService
    patch:
      summary: Update an existing Token in Skylight AAA.
      operationId: UpdateToken
      consumes:
        - application/vnd.api+json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: "Token was successfully updated in Skylight AAA"
          schema:
            $ref: '#/definitions/JsonApiJWT'
        '403':
          description: "Requestor does not have permission to perform this action"
          schema:
            type: string
        '404':
          description: "Attempt to update token but it does not exist"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/JsonApiJWT'
        - name: tokenId
          in: path
          required: true
          type: integer
          format: int64
          description: "The unique identifier of the Token to be updated."
      tags:
        - AuthService
    delete:
      summary: Delete a single Token by its known Id.
      operationId: DeleteToken
      consumes:
        - application/vnd.api+json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: "Returns the now deleted Token from Skylight AAA"
          schema:
            type: string
        '403':
          description: "Requestor does not have permission to perform this action"
          schema:
            type: string
        '404':
          description: "Token not found"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: tokenId
          in: path
          required: true
          type: integer
          format: int64
          description: "The unique identifier of the Token to be deleted."
      tags:
        - AuthService

  /v1/auth/method/{emailAddress}:
    get:
      summary: Returns a method for authentication given an email address
      operationId: GetAuthenticationMethod
      consumes:
        - application/vnd.api+json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: "Returns authentication method for existing user"
          schema:
            $ref: '#/definitions/AuthMethod'
        '204':
          description: "Returns an empty response to indicate that no openID has been provisioned for this tenant"
        '404':
          description: "User with provided email does not exist"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: emailAddress
          in: path
          required: true
          type: string
          description: "Email address of the user trying to authenticate"
      tags:
        - AuthService

  /v1/auth/usergroups:
    post:
      summary: Create a new Usergroup in Skylight AAA
      operationId: CreateUsergroup
      consumes:
        - application/vnd.api+json
      produces:
        - application/vnd.api+json
      responses:
        '201':
          description: "Usergroup was successfully created in Skylight AAA"
          schema:
            $ref: '#/definitions/JsonApiUsergroup'
        '400':
          description: "Attempt to update usergroup but there is something wrong with the request data"
          schema:
            type: string
        '403':
          description: "Requestor does not have permission to perform this action"
          schema:
            type: string
        '409':
          description: "Attempt to provision a Usergroup that is already provisioned"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/JsonApiUsergroup'
      tags:
        - AuthService
    get:
      summary: Retrieve a list of Usergroups known to Skylight AAA
      operationId: GetAllUsergroups
      consumes:
        - application/json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: "Returns a list of known Usergroups to Skylight AAA"
          schema:
            $ref: '#/definitions/JsonApiUsergroupList'
        '403':
          description: "Requestor does not have permission to perform this action"
          schema:
            type: string
        '404':
          description: "No Usergroups provisioned"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      tags:
        - AuthService
  /v1/auth/usergroups/{usergroupId}:
    get:
      summary: Retrieve a single Usergroup by its known Id.
      operationId: GetUsergroup
      consumes:
        - application/json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: "Returns a known Usergroup to Skylight AAA"
          schema:
            $ref: '#/definitions/JsonApiUsergroup'
        '403':
          description: "Requestor does not have permission to perform this action"
          schema:
            type: string
        '404':
          description: "Usergroup not found"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: usergroupId
          in: path
          required: true
          type: integer
          format: int64
          description: "The unique identifier of the Usergroup to be returned."
      tags:
        - AuthService
    patch:
      summary: Update an existing Usergroup in Skylight AAA.
      operationId: UpdateUsergroup
      consumes:
        - application/vnd.api+json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: "Usergroup was successfully updated in Skylight AAA"
          schema:
            $ref: '#/definitions/JsonApiUsergroup'
        '400':
          description: "Attempt to update usergroup but there is something wrong with the request data"
          schema:
            type: string
        '409':
          description: "Attempt to update usergroup but there is a conflict"
          schema:
            type: string
        '403':
          description: "Requestor does not have permission to perform this action"
          schema:
            type: string
        '404':
          description: "Attempt to update usergroup but the user does not exist"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/JsonApiUsergroupUpdate'
        - name: usergroupId
          in: path
          required: true
          type: integer
          format: int64
          description: "The unique identifier of the Usergroup to be updated."
      tags:
        - AuthService
    delete:
      summary: Delete a single Usergroup by its known Id.
      operationId: DeleteUsergroup
      consumes:
        - application/json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: "Returns the now deleted Usergroup from Skylight AAA"
          schema:
            $ref: '#/definitions/JsonApiUsergroup'
        '403':
          description: "Requestor does not have permission to perform this action"
          schema:
            type: string
        '404':
          description: "Usergroup not found"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: usergroupId
          in: path
          required: true
          type: integer
          format: int64
          description: "The unique identifier of the Usergroup to be deleted."
      tags:
        - AuthService
  /v1/auth/roles:
    post:
      summary: Create a new Role in Skylight AAA
      operationId: CreateRole
      consumes:
        - application/vnd.api+json
      produces:
        - application/vnd.api+json
      responses:
        '201':
          description: "Role was successfully created in Skylight AAA"
          schema:
            $ref: '#/definitions/JsonApiRole'
        '403':
          description: "Requestor does not have permission to perform this action"
          schema:
            type: string
        '400':
          description: "Bad request"
          schema:
            type: string
        '409':
          description: "Attempt to provision a Role that is already provisioned"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/JsonApiRole'
      tags:
        - AuthService
    get:
      summary: Retrieve a list of Roles known to Skylight AAA in the context of the active tenant
      operationId: GetAllRoles
      consumes:
        - application/json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: "Returns a list of known Roles to Skylight AAA"
          schema:
            $ref: '#/definitions/JsonApiRoleList'
        '403':
          description: "Requestor does not have permission to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      tags:
        - AuthService
  /v1/auth/roles/{roleId}:
    get:
      summary: Retrieve a single Role by its known Id
      operationId: GetRole
      consumes:
        - application/json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: "Returns a known Role to Skylight AAA"
          schema:
            $ref: '#/definitions/JsonApiRole'
        '403':
          description: "Requestor does not have permission to perform this action"
          schema:
            type: string
        '404':
          description: "Role not found"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: roleId
          in: path
          required: true
          type: integer
          format: int64
          description: "The unique identifier of the Role to be returned"
      tags:
        - AuthService
    patch:
      summary: Update an existing Role in Skylight AAA
      operationId: UpdateRole
      consumes:
        - application/vnd.api+json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: "Role was successfully updated in Skylight AAA"
          schema:
            $ref: '#/definitions/JsonApiRole'
        '403':
          description: "Requestor does not have permission to perform this action"
          schema:
            type: string
        '400':
          description: "Bad Request"
          schema:
            type: string
        '409':
          description: "Attempt to provision a Role that is already provisioned"
          schema:
            type: string
        '404':
          description: "Attempt to update Role that does not exist"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/JsonApiRoleUpdate'
        - name: roleId
          in: path
          required: true
          type: integer
          format: int64
          description: "The unique identifier of the Role to be updated."
      tags:
        - AuthService
    delete:
      summary: Delete a single Role by its known Id
      operationId: DeleteRole
      consumes:
        - application/json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: "Returns the now deleted Role from Skylight AAA"
          schema:
            $ref: '#/definitions/JsonApiRole'
        '403':
          description: "Requestor does not have permission to perform this action"
          schema:
            type: string
        '404':
          description: "Role not found"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: roleId
          in: path
          required: true
          type: integer
          format: int64
          description: "The unique identifier of the Role to be deleted."
      tags:
        - AuthService
  /v1/auth/permissions:
    post:
      summary: Create a new Permission in Skylight AAA
      operationId: CreatePermission
      consumes:
        - application/vnd.api+json
      produces:
        - application/vnd.api+json
      responses:
        '201':
          description: "Permission was successfully created in Skylight AAA"
          schema:
            $ref: '#/definitions/JsonApiPermission'
        '200':
          description: "Permission already exists"
        '403':
          description: "Requestor does not have permission to perform this action"
          schema:
            type: string
        '400':
          description: "Bad request"
          schema:
            type: string
        '409':
          description: "Attempt to provision a Permission that is already provisioned"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/JsonApiPermission'
      tags:
        - AuthService
    get:
      summary: Retrieve a list of Permissions known to Skylight AAA in the context of the active tenant
      operationId: GetAllPermissions
      consumes:
        - application/json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: "Returns a list of known Permissions to Skylight AAA"
          schema:
            $ref: '#/definitions/JsonApiPermissionList'
        '403':
          description: "Requestor does not have permission to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: domains
          in: query
          required: false
          description: Filter permissions by comma separated list of domains
          type: string
        - name: app
          in: query
          required: false
          description: Filter permissions by app
          type: string
      tags:
        - AuthService
  /v1/auth/permissions/{permissionId}:
    get:
      summary: Retrieve a single Permission by its known Id
      operationId: GetPermission
      consumes:
        - application/json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: "Returns a known Permission to Skylight AAA"
          schema:
            $ref: '#/definitions/JsonApiPermission'
        '403':
          description: "Requestor does not have permission to perform this action"
          schema:
            type: string
        '404':
          description: "Permission not found"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: permissionId
          in: path
          required: true
          type: integer
          format: int64
          description: "The unique identifier of the Permission to be returned"
      tags:
        - AuthService
    patch:
      summary: Update an existing Permission in Skylight AAA
      operationId: UpdatePermission
      consumes:
        - application/vnd.api+json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: "Role was successfully updated in Skylight AAA"
          schema:
            $ref: '#/definitions/JsonApiUpdatePermissionResponse'
        '403':
          description: "Requestor does not have permission to perform this action"
          schema:
            type: string
        '400':
          description: Bad Request
          schema:
            type: string
        '404':
          description: "Attempt to update Permission that does not exist"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/JsonApiUpdatePermission'
        - name: permissionId
          in: path
          required: true
          type: integer
          format: int64
          description: "The unique identifier of the Permission to be updated."
      tags:
        - AuthService
    delete:
      summary: Delete a single Permission by its known Id
      operationId: DeletePermission
      consumes:
        - application/json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: "Returns the now deleted Permission from Skylight AAA"
          schema:
            $ref: '#/definitions/JsonApiPermission'
        '403':
          description: "Requestor does not have permission to perform this action"
          schema:
            type: string
        '404':
          description: "Permission not found"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: permissionId
          in: path
          required: true
          type: integer
          format: int64
          description: "The unique identifier of the Permission to be deleted."
      tags:
        - AuthService

##### GATHER PATHS #####

  /pouchdb/{database}:
    put:
      summary: Create a database
      operationId: CreateCouchDB
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: database
          in: path
          required: true
          type: string
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/PouchOk'
        '403':
          description: Access to resource forbidden for user
          schema:
            $ref: '#/definitions/PouchError'
        '412':
          description: Precondition failed
          schema:
            $ref: '#/definitions/PouchError'
        '500':
          description: Unexpected error processing request
          schema:
            $ref: '#/definitions/PouchError'
      tags:
        - PouchDB
    delete:
      summary: Delete a database
      operationId: DeleteCouchDB
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: database
          in: path
          required: true
          type: string
      responses:
        '200':
          description: Deleted
          schema:
            $ref: '#/definitions/PouchOk'
        '403':
          description: Access to resource forbidden for user
          schema:
            $ref: '#/definitions/PouchError'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/PouchError'
        '500':
          description: Unexpected error processing request
          schema:
            $ref: '#/definitions/PouchError'
      tags:
        - PouchDB
    post:
      summary: Create a document
      operationId: CreateCouchDocument
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: database
          in: path
          required: true
          type: string
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/PouchOk'
        '403':
          description: Access to resource forbidden for user
          schema:
            $ref: '#/definitions/PouchError'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/PouchError'
        '404':
          description: Database does not exist
          schema:
            $ref: '#/definitions/PouchError'
        '409':
          description: Document update conflict
          schema:
            $ref: '#/definitions/PouchError'
        '500':
          description: Unexpected error processing request
          schema:
            $ref: '#/definitions/PouchError'
      tags:
        - PouchDB
    get:
      summary: Get a database
      operationId: GetCouchDatabase
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: database
          in: path
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PouchGetDatabase'
        '403':
          description: Access to resource forbidden for user
          schema:
            $ref: '#/definitions/PouchError'
        '404':
          description: Database does not exist
          schema:
            $ref: '#/definitions/PouchError'
        '500':
          description: Unexpected error processing request
          schema:
            $ref: '#/definitions/PouchError'
      tags:
        - PouchDB
  /pouchdb/{database}/{documentID}:
    post:
      summary: Post a document
      operationId: PostCouchDocument
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: database
          in: path
          required: true
          type: string
        - name: documentID
          in: path
          required: true
          type: string
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/PouchOk'
        '403':
          description: Access to resource forbidden for user
          schema:
            $ref: '#/definitions/PouchError'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/PouchError'
        '404':
          description: Document does not exist
          schema:
            $ref: '#/definitions/PouchError'
        '409':
          description: Document update conflict
          schema:
            $ref: '#/definitions/PouchError'
        '500':
          description: Unexpected error processing request
          schema:
            $ref: '#/definitions/PouchError'
      tags:
        - PouchDB
    put:
      summary: Update a document
      operationId: UpdateCouchDocument
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: database
          in: path
          required: true
          type: string
        - name : documentID
          in: path
          required: true
          type: string
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/PouchOk'
        '403':
          description: Access to resource forbidden for user
          schema:
            $ref: '#/definitions/PouchError'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/PouchError'
        '404':
          description: Document does not exist
          schema:
            $ref: '#/definitions/PouchError'
        '409':
          description: Document update conflict
          schema:
            $ref: '#/definitions/PouchError'
        '500':
          description: Unexpected error processing request
          schema:
            $ref: '#/definitions/PouchError'
      tags:
        - PouchDB
    delete:
      summary: Delete a document
      operationId: DeleteCouchDocument
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: database
          in: path
          required: true
          type: string
        - name: documentID
          in: path
          required: true
          type: string
      responses:
        '200':
          description: Deleted
          schema:
            $ref: '#/definitions/PouchOk'
        '403':
          description: Access to resource forbidden for user
          schema:
            $ref: '#/definitions/PouchError'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/PouchError'
        '404':
          description: Document does not exist
          schema:
            $ref: '#/definitions/PouchError'
        '409':
          description: Document update conflict
          schema:
            $ref: '#/definitions/PouchError'
        '500':
          description: Unexpected error processing request
          schema:
            $ref: '#/definitions/PouchError'
      tags:
        - PouchDB
    get:
      summary: Get a document
      operationId: GetCouchDocument
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: database
          in: path
          required: true
          type: string
        - name: documentID
          in: path
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PouchGetDocument'
        '403':
          description: Access to resource forbidden for user
          schema:
            $ref: '#/definitions/PouchError'
        '404':
          description: Document does not exist
          schema:
            $ref: '#/definitions/PouchError'
        '500':
          description: Unexpected error processing request
          schema:
            $ref: '#/definitions/PouchError'
      tags:
        - PouchDB
  /v1/tenants:
    post:
      summary: Create a Tenant.
      operationId: CreateTenant
      consumes:
        - application/vnd.api+json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JsonApiTenant'
        '400':
          description: "Request data does not pass validation"
          schema:
            type: string
        '403':
          description: "Requestor does not have authorization to perform this action"
          schema:
            type: string
        '409':
          description: "The Tenant being provisioned already exists"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/JsonApiTenant'
      tags:
        - AdminProvisioningService
    put:
      summary: Update a Tenant.
      operationId: UpdateTenant
      consumes:
        - application/vnd.api+json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JsonApiTenant'
        '400':
          description: "Request data does not pass validation"
          schema:
            type: string
        '403':
          description: "Requestor does not have authorization to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/JsonApiTenant'
      tags:
        - AdminProvisioningService
  /v1/tenant-list:
    get:
      summary: Retrieve all Tenants.
      operationId: GetAllTenants
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JsonApiTenantList'
        '403':
          description: "Requestor does not have authorization to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      tags:
        - AdminProvisioningService
  '/v1/tenants/{tenantId}':
    get:
      summary: Retrieve a Tenant by id.
      operationId: GetTenant
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JsonApiTenant'
        '403':
          description: "Requestor does not have authorization to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: tenantId
          in: path
          required: true
          type: string
      tags:
        - AdminProvisioningService
    delete:
      summary: Delete a Tenant
      operationId: DeleteTenant
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JsonApiTenant'
        '403':
          description: "Requestor does not have authorization to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: tenantId
          in: path
          required: true
          type: string
      tags:
        - AdminProvisioningService
    patch:
      summary: Patch a Tenant
      operationId: PatchTenant
      consumes:
        - application/vnd.api+json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JsonApiTenant'
        '400':
          description: "Request data does not pass validation"
          schema:
            type: string
        '403':
          description: "Requestor does not have authorization to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: tenantId
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/JsonApiTenant'
      tags:
        - AdminProvisioningService
  '/v1/tenant-by-alias/{value}':
    get:
      summary: Returns the Id of a Tenant that matches the provided alias.
      operationId: GetTenantIdByAlias
      produces:
        - text/plain
      responses:
        '200':
          description: ''
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: value
          in: path
          required: true
          type: string
      tags:
        - AdminProvisioningService
  '/v1/tenant-summary-by-alias/{value}':
    get:
      summary: Returns a summary of the Tenant that matches the provided alias.
      operationId: GetTenantSummaryByAlias
      produces:
        - application/json
      responses:
        '200':
          description: ''
          schema:
            $ref: "#/definitions/TenantSummary"
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: value
          in: path
          required: true
          type: string
      tags:
        - AdminProvisioningService
  /v1/ingestion-dictionaries:
    get:
      summary: Retrieve an Ingestion Dictionary.
      operationId: GetIngestionDictionary
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JsonApiIngestionDictionary'
        '403':
          description: "Requestor does not have authorization to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      tags:
        - AdminProvisioningService
  /v1/valid-types:
    get:
      summary: Retrieve a Valid Types object.
      operationId: GetValidTypes
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JsonApiValidTypes'
        '403':
          description: "Requestor does not have authorization to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      tags:
        - AdminProvisioningService
  /v1/solution-version-manifest:
    get:
      summary: Retrieves the Skyligth Analytics solution version as well as the manifest of all services. If the local manifest has been manually modified, the isDirty flag is set to indicate that the currently running version differs from the original version
      operationId: GetSolutionManifest
      produces:
        - application/json
      responses:
        '200':
          description: 'A manifest containing the solution version as well as the version for all running components'
          schema:
            $ref: '#/definitions/JsonApiSolutionManifestResponse'
        '403':
          description: "Requestor does not have authorization to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      tags:
        - AdminGetSolutionManifest

  /v1/tenants/{tenantId}/connector-configs:
    post:
      summary: Create a ConnectorConfig for a Tenant.
      operationId: CreateTenantConnectorConfig
      consumes:
        - application/vnd.api+json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JsonApiTenantConnectorConfig'
        '400':
          description: "Request data does not pass validation"
          schema:
            type: string
        '403':
          description: "Requestor does not have authorization to perform this action"
          schema:
            type: string
        '409':
          description: "The Tenant being provisioned already exists"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: tenantId
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/JsonApiTenantConnectorConfig'
      tags:
        - TenantProvisioningService
    put:
      summary: Update a Tenant ConnectorConfig
      operationId: UpdateTenantConnectorConfig
      consumes:
        - application/vnd.api+json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JsonApiTenantConnectorConfig'
        '400':
          description: "Request data does not pass validation"
          schema:
            type: string
        '403':
          description: "Requestor does not have authorization to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: tenantId
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/JsonApiTenantConnectorConfig'
      tags:
        - TenantProvisioningService
  '/v1/tenants/{tenantId}/connector-configs/{connectorId}':
    get:
      summary: Retrieve a Tenant ConnectorConfig by Id.
      operationId: GetTenantConnectorConfig
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JsonApiTenantConnectorConfig'
        '403':
          description: "Requestor does not have authorization to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: connectorId
          in: path
          required: true
          type: string
        - name: tenantId
          in: path
          required: true
          type: string
      tags:
        - TenantProvisioningService
    delete:
      summary: Delete a Tenant ConnectorConfig specified by the provided Connector Id.
      operationId: DeleteTenantConnectorConfig
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JsonApiTenantConnectorConfig'
        '403':
          description: "Requestor does not have authorization to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: connectorId
          in: path
          required: true
          type: string
        - name: tenantId
          in: path
          required: true
          type: string
      tags:
        - TenantProvisioningService
  /v1/tenants/{tenantId}/connector-config-list:
    get:
      summary: Retrieve all ConnectorConfigs for the specified Tenant.
      operationId: GetAllTenantConnectorConfigs
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JsonApiTenantConnectorConfigList'
        '403':
          description: "Requestor does not have authorization to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: tenantId
          in: path
          required: true
          type: string
        - name: zone
          in: query
          required: false
          type: string
      tags:
        - TenantProvisioningService
  /v1/tenants/{tenantId}/connector-instances:
    post:
      summary: Create a ConnectorInstance for a Tenant.
      operationId: CreateTenantConnectorInstance
      consumes:
        - application/vnd.api+json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JsonApiTenantConnectorInstance'
        '400':
          description: "Request data does not pass validation"
          schema:
            type: string
        '403':
          description: "Requestor does not have authorization to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: tenantId
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/JsonApiTenantConnectorInstance'
      tags:
        - TenantProvisioningService
    put:
      summary: Update a Tenant ConnectorInstance
      operationId: UpdateTenantConnectorInstance
      consumes:
        - application/vnd.api+json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JsonApiTenantConnectorInstance'
        '400':
          description: "Request data does not pass validation"
          schema:
            type: string
        '403':
          description: "Requestor does not have authorization to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: tenantId
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/JsonApiTenantConnectorInstance'
      tags:
        - TenantProvisioningService
  '/v1/tenants/{tenantId}/connector-instances/{connectorInstanceId}':
    get:
      summary: Retrieve a Tenant ConnectorInstance by Id.
      operationId: GetTenantConnectorInstance
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JsonApiTenantConnectorInstance'
        '403':
          description: "Requestor does not have authorization to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: connectorInstanceId
          in: path
          required: true
          type: string
        - name: tenantId
          in: path
          required: true
          type: string
      tags:
        - TenantProvisioningService
    delete:
      summary: Delete a Tenant ConnectorInstance specified by the provided Connector Instance Id.
      operationId: DeleteTenantConnectorInstance
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JsonApiTenantConnectorInstance'
        '403':
          description: "Requestor does not have authorization to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: connectorInstanceId
          in: path
          required: true
          type: string
        - name: tenantId
          in: path
          required: true
          type: string
      tags:
        - TenantProvisioningService
  /v1/tenants/{tenantId}/connector-instance-list:
    get:
      summary: Retrieve all ConnectorInstances for the specified Tenant.
      operationId: GetAllTenantConnectorInstances
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JsonApiTenantConnectorInstanceList'
        '403':
          description: "Requestor does not have authorization to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: tenantId
          in: path
          required: true
          type: string
      tags:
        - TenantProvisioningService
  /v1/tenants/{tenantId}/domains:
    post:
      summary: Create a Domain for a Tenant.
      operationId: CreateTenantDomain
      consumes:
        - application/vnd.api+json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JsonApiTenantDomain'
        '400':
          description: "Request data does not pass validation"
          schema:
            type: string
        '403':
          description: "Requestor does not have authorization to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: tenantId
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/JsonApiTenantDomain'
      tags:
        - TenantProvisioningService
  /v1/tenants/{tenantId}/report-schedule-configs:
    post:
      summary: Create a report schedule configuration for a Tenant.
      operationId: CreateReportScheduleConfig
      consumes:
        - application/vnd.api+json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JsonApiTenantReportScheduleConfig'
        '400':
          description: "Request data does not pass validation"
          schema:
            type: string
        '403':
          description: "Requestor does not have authorization to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: tenantId
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/JsonApiTenantReportScheduleConfig'
      tags:
        - TenantProvisioningService
    put:
      summary: Update a report schedule configuration for a Tenant.
      operationId: UpdateReportScheduleConfig
      consumes:
        - application/vnd.api+json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JsonApiTenantReportScheduleConfig'
        '400':
          description: "Request data does not pass validation"
          schema:
            type: string
        '403':
          description: "Requestor does not have authorization to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: tenantId
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/JsonApiTenantReportScheduleConfig'
      tags:
        - TenantProvisioningService
  '/v1/tenants/{tenantId}/report-schedule-configs/{configId}':
    get:
      summary: Retrieve a report schedule configuration for a Tenant by configuration Id.
      operationId: GetReportScheduleConfig
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JsonApiTenantReportScheduleConfig'
        '403':
          description: "Requestor does not have authorization to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: configId
          in: path
          required: true
          type: string
        - name: tenantId
          in: path
          required: true
          type: string
      tags:
        - TenantProvisioningService
    delete:
      summary: Delete a report schedule configuration for a Tenant by configuration Id.
      operationId: DeleteReportScheduleConfig
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JsonApiTenantReportScheduleConfig'
        '403':
          description: "Requestor does not have authorization to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: configId
          in: path
          required: true
          type: string
        - name: tenantId
          in: path
          required: true
          type: string
      tags:
        - TenantProvisioningService
  '/v1/tenants/{tenantId}/report-schedule-config-list':
    get:
      summary: Retrieve all report schedule configs for the specified Tenant.
      operationId: GetAllReportScheduleConfig
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JsonApiTenantReportScheduleConfigList'
        '403':
          description: "Requestor does not have authorization to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: tenantId
          in: path
          required: true
          type: string
      tags:
        - TenantProvisioningService
  /v1/tenants/{tenantId}/domain-list:
    get:
      summary: Retrieve all Domains for the specified Tenant.
      operationId: GetAllTenantDomains
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JsonApiTenantDomainList'
        '403':
          description: "Requestor does not have authorization to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: tenantId
          in: path
          required: true
          type: string
      tags:
        - TenantProvisioningService
  '/v1/tenants/{tenantId}/domains/{domainId}':
    get:
      summary: Retrieve a Tenant Domain by Id.
      operationId: GetTenantDomain
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JsonApiTenantDomain'
        '403':
          description: "Requestor does not have authorization to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: domainId
          in: path
          required: true
          type: string
        - name: tenantId
          in: path
          required: true
          type: string
      tags:
        - TenantProvisioningService
    put:
      summary: Update a Tenant Domain
      operationId: UpdateTenantDomain
      consumes:
        - application/vnd.api+json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JsonApiTenantDomain'
        '400':
          description: "Request data does not pass validation"
          schema:
            type: string
        '403':
          description: "Requestor does not have authorization to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: domainId
          in: path
          required: true
          type: string
        - name: tenantId
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/JsonApiTenantDomain'
      tags:
        - TenantProvisioningService
    patch:
      summary: Patch update a Tenant Domain
      operationId: PatchTenantDomain
      consumes:
        - application/vnd.api+json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: 'Successfully patched tenant domain.'
          schema:
            $ref: '#/definitions/JsonApiTenantDomain'
        '400':
          description: "Request data does not pass validation"
          schema:
            type: string
        '403':
          description: "Requestor does not have authorization to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: domainId
          in: path
          required: true
          type: string
        - name: tenantId
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/JsonApiTenantDomain'
      tags:
        - TenantProvisioningService
    delete:
      summary: Delete a Tenant Domain specified by the provided Domain Id.
      operationId: DeleteTenantDomain
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JsonApiTenantDomain'
        '403':
          description: "Requestor does not have authorization to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: domainId
          in: path
          required: true
          type: string
        - name: tenantId
          in: path
          required: true
          type: string
      tags:
        - TenantProvisioningService
  /v1/tenants/{tenantId}/ingestion-profiles:
    post:
      summary: Create an Ingestion Profile for a Tenant.
      operationId: CreateTenantIngestionProfile
      consumes:
        - application/vnd.api+json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JsonApiTenantIngestionProfile'
        '400':
          description: "Request data does not pass validation"
          schema:
            type: string
        '403':
          description: "Requestor does not have authorization to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: tenantId
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/JsonApiTenantIngestionProfile'
      tags:
        - TenantProvisioningService
    patch:
      summary: Update a Tenant Ingestion Profile
      operationId: PatchTenantIngestionProfile
      consumes:
        - application/vnd.api+json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JsonApiTenantIngestionProfile'
        '400':
          description: "Request data does not pass validation"
          schema:
            type: string
        '403':
          description: "Requestor does not have authorization to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: tenantId
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/JsonApiTenantIngestionProfile'
      tags:
        - TenantProvisioningService
    put:
      summary: Update a Tenant Ingestion Profile
      operationId: UpdateTenantIngestionProfile
      consumes:
        - application/vnd.api+json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JsonApiTenantIngestionProfile'
        '400':
          description: "Request data does not pass validation"
          schema:
            type: string
        '403':
          description: "Requestor does not have authorization to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: tenantId
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/JsonApiTenantIngestionProfile'
      tags:
        - TenantProvisioningService
  /v1/tenants/{tenantId}/active-ingestion-profile:
    get:
      summary: Retrieve the active Ingestion Profile for the specified Tenant.
      operationId: GetActiveTenantIngestionProfile
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JsonApiTenantIngestionProfile'
        '403':
          description: "Requestor does not have authorization to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: tenantId
          in: path
          required: true
          type: string
      tags:
        - TenantProvisioningService
  '/v1/tenants/{tenantId}/ingestion-profiles/{ingestionProfileId}':
    get:
      summary: Retrieve a Tenant Ingestion Profile by id.
      operationId: GetTenantIngestionProfile
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JsonApiTenantIngestionProfile'
        '403':
          description: "Requestor does not have authorization to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: ingestionProfileId
          in: path
          required: true
          type: string
        - name: tenantId
          in: path
          required: true
          type: string
      tags:
        - TenantProvisioningService
    delete:
      summary: Delete a Tenant Ingestion Profile specified by the provided Ingestion Profile Id.
      operationId: DeleteTenantIngestionProfile
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JsonApiTenantIngestionProfile'
        '403':
          description: "Requestor does not have authorization to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: ingestionProfileId
          in: path
          required: true
          type: string
        - name: tenantId
          in: path
          required: true
          type: string
      tags:
        - TenantProvisioningService
  /v1/tenants/{tenantId}/threshold-profiles:
    post:
      summary: Create a Threshold Profile for a Tenant.
      operationId: CreateTenantThresholdProfile
      consumes:
        - application/vnd.api+json
      produces:
        - application/vnd.api+json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JsonApiTenantThresholdProfile'
        '400':
          description: "Request data does not pass validation"
          schema:
            type: string
        '403':
          description: "Requestor does not have authorization to perform this action"
          schema:
            type: string
        '500':
          description: "Unexpected error processing request"
          schema:
            type: string
      parameters:
        - name: tenantId
          in: path
          required: true
          type: string
        - name: body
          in: body
[...]
